* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
	background-color: #E0218A;
	display: flex;
	flex-direction: column;
	height: 400px;
	padding: 10px;
}

.display-container {
	padding: 10px 10px 10px 10px;
	height: 70px;
}

.display {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: hsl(330, 50%, 92%);
	height: 60px;
}

.display-text {
	font-size: 25px;
	color: hsl(337, 100%, 11%);
}

button {
	border: 1px hsl(337, 90%, 29%) solid;
	width: 55px;
	height: 55px;
	background-color: hsl(337, 100%, 89%);
	color: hsl(337, 100%, 11%);
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.row {
	display: flex;
	gap: 5px;
}

.row-one {
	display: flex;
	justify-content: end;
}

.number, .operator, .point {
	border-radius: 100px;
}

.result {
	border-radius: 0px;
}
